extends layouts/layout.pug

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6.col-lg-5
        .card.shadow
          .card-body.p-4
            h2.card-title.text-center.mb-4 Log in
            // Inlogformulier
            form(action="/auth/login", method="POST")
              .mb-3
                label.form-label(for="email") E-mailadres
                input.form-control(
                  type="email",
                  id="email",
                  name="email",
                  required,
                  aria-describedby="emailHelp"
                )
                .form-text#emailHelp Use your registered email address.

              .mb-3
                label.form-label(for="password") Password
                input.form-control(
                  type="password",
                  id="password",
                  name="password",
                  required
                )

              button.btn.btn-primary.w-100(type="submit") Log in
            
            hr.my-4

            p.text-center Don't have an account? #[a(href="/auth/register") Register here]