extends ../layouts/layout

block content
  h1= title

  if movie
    .container
      .row
        .col-md-6
          img(
            src=movie.imageUrl || "/images/filmfoto.jpg",
            alt=movie.title,
            class="img-fluid rounded",
            width="300"
          )
        .col-md-6
          h2= movie.title
          p= movie.description
          p
            strong Release Date: 
            | #{movie.release_year}
          p
            strong Rating: 
            | #{movie.rating}
          p
            strong Genre: 
            | #{movie.genre_name}
          p
            strong Rental Rate: 
            | $#{movie.rental_rate}
          p
            strong Rental Duration: 
            | #{movie.rental_duration} days

          // Buttons in a flexbox container to place them next to each other
          .d-flex.align-items-center.mt-3.gap-2
            // Add the form for the "Add to Favorites" button here
            // Back button
            a.btn.btn-light(href="/movies") ← Back to Movies
            
            form(action="/favorites/add", method="POST")
              input(type="hidden", name="filmId", value=movie.film_id)
              button.btn.btn-primary(type="submit") Add to Favorites