extends ../layouts/layout

block content
  h1= title

  if movie
    .container
      .row
        .col-md-6
          img(
            src=movie.imageUrl || "/images/filmfoto.jpg",
            alt=movie.title,
            class="img-fluid rounded",
            width="300"
          )
        .col-md-6
          h2= movie.title
          p= movie.description
          p
            strong Release Date:
            | #{movie.release_year}
          p
            strong Rating:
            | #{movie.rating}

          // Voeg hier het formulier toe voor de "Add to Favorites" knop
          form(action="/favorites/add", method="POST", style="display:inline-block;")
            input(type="hidden", name="filmId", value=movie.film_id)
            button.btn.btn-primary.mt-3(type="submit") Add to Favorites

          // Back button
          a.btn.btn-secondary.mt-3(href="/movies", style="margin-left: 10px;") ← Back to Movies
  else
    p Movie details not found.