extends ../layouts/layout

block content
  h1= title

  if movie
    .container
      .row
        .col-md-6
          img(
            src=movie.imageUrl || "/images/filmfoto.jpg",
            alt=movie.title,
            class="img-fluid rounded",
            width="300"
          )
        .col-md-6
          h2= movie.title
          p= movie.description
          p
            strong Release Date: 
            | #{movie.release_year}
          p
            strong Rating: 
            | #{movie.rating}
          p
            strong Genre: 
            | #{movie.genre_name}

          // Knoppen in een flexbox container om ze naast elkaar te zetten
          .d-flex.align-items-center.mt-3.gap-2
            // Voeg hier het formulier toe voor de "Add to Favorites" knop
            // Back button
            a.btn.btn-light(href="/movies") ← Back to Movies
            
            form(action="/favorites/add", method="POST")
              input(type="hidden", name="filmId", value=movie.film_id)
              button.btn.btn-primary(type="submit") Add to Favorites
  else
    p Movie details not found.