extends ../layouts/layout.pug

block content
  // Go Back button
  a.btn.btn-light.mb-4(href="/movies") Go Back

  h1.mb-4 My Favorite Movies
  p.lead Here you can find all your favorite movies.

  .container-fluid
    if favoriteMovies && favoriteMovies.length > 0
      .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-4
        each movie in favoriteMovies
          .col
            .card.h-100.shadow-sm.hover-lift
              a(href=`/movies/${movie.film_id}`)
                img.card-img-top(
                  src=movie.imageUrl ? movie.imageUrl : "/images/filmfoto.jpg",
                  alt=movie.film_title,
                  style="height: 300px; object-fit: cover;"
                )
              .card-body.d-flex.flex-column.text-center
                h5.card-title.text-truncate= movie.film_title
                
                // Button to remove from favorites
                form.mt-auto(action="/favorites/remove", method="POST")
                  input(type="hidden", name="filmId", value=movie.film_id)
                  button.btn.btn-danger(type="submit") Remove from Favorites
    else
      .alert.alert-info.text-center(role="alert")
        h4.alert-heading You haven't added any movies to your favorites yet.