extends ../layouts/layout

block content
  h1= title
  p Welcome to #{title}
  .container
    .row
      each movie in movies
        .col-6.col-md-3.text-center
          .movie-block
            // De <a> tag omvat zowel de afbeelding als de titel
            a(href=`/movies/${movie.film_id}`)
              img(
                src=movie.imageUrl ? movie.imageUrl : "/images/filmfoto.jpg",
                alt=movie.title,
                style="width:150px; height:225px; object-fit:cover;"
              )
              p.mt-2= movie.title
            
            // Nieuwe code voor de favorietenknop
            form(action="/favorites/add", method="POST")
              input(type="hidden", name="filmId", value=movie.film_id)
              button.btn.btn-outline-secondary(type="submit") Voeg toe aan favorieten

  if totalPages > 1
    nav.mt-4
      ul.pagination.justify-content-center
        //- Previous button
        li.page-item(class=(currentPage === 1 ? 'disabled' : ''))
          a.page-link(href=`/movies?page=${currentPage - 1}`) Previous

        //- Corrected: Loop over the 'pagesToShow' array
        each num in pagesToShow
          li.page-item(class=(num === currentPage ? 'active' : ''))
            a.page-link(href=`/movies?page=${num}`)= num

        //- Next button
        li.page-item(class=(currentPage === totalPages ? 'disabled' : ''))
          a.page-link(href=`/movies?page=${currentPage + 1}`) Next