extends ../layouts/layout

block content
  h1= title

  .d-flex.justify-content-end.mb-4.align-items-center
    // Dropdown voor genres
    form(action="/movies", method="GET", class="me-2")
      .input-group
        label.input-group-text(for="genre-select") Genre
        select#genre-select.form-select(name="genre" onchange="this.form.submit()")
          option(value="") Alle
          each genre in genres
            option(value=genre.category_id, selected=genre.category_id == selectedGenre)= genre.name

    // Zoekformulier
    form(action="/movies", method="GET", class="d-flex")
      input(
        type="search",
        name="search",
        class="form-control me-2",
        placeholder="Zoek films...",
        aria-label="Zoek",
        value=searchQuery || ''
      )
      button(class="btn btn-outline-success", type="submit") Zoeken

  // Verbetering van de weergave bij geen resultaten
  if movies.length > 0
    .container
      .row
        each movie in movies
          .col-6.col-md-3.text-center
            .movie-block
              a(href=`/movies/${movie.film_id}`)
                img(
                  src=movie.imageUrl ? movie.imageUrl : "/images/filmfoto.jpg",
                  alt=movie.title,
                  style="width:150px; height:225px; object-fit:cover;"
                )
                p.mt-2= movie.title
  else
    p Geen films gevonden. Probeer een andere zoekterm.

  // Paginatie, nu met zoekterm en genre behoud
  if totalPages > 1
    nav.mt-4
      ul.pagination.justify-content-center
        li.page-item(class=(currentPage === 1 ? 'disabled' : ''))
          a.page-link(href=`/movies?page=${currentPage - 1}${searchQuery ? '&search=' + searchQuery : ''}${selectedGenre ? '&genre=' + selectedGenre : ''}`) Previous

        each num in pagesToShow
          li.page-item(class=(num === currentPage ? 'active' : ''))
            a.page-link(href=`/movies?page=${num}${searchQuery ? '&search=' + searchQuery : ''}${selectedGenre ? '&genre=' + selectedGenre : ''}`)= num

        li.page-item(class=(currentPage === totalPages ? 'disabled' : ''))
          a.page-link(href=`/movies?page=${currentPage + 1}${searchQuery ? '&search=' + searchQuery : ''}${selectedGenre ? '&genre=' + selectedGenre : ''}`) Next